{
  "globals": {
    "__static": "readonly"
  },
  "root": true,
  "env": {
    "node": true
  },
  "extends": [
    "plugin:vue/vue3-essential",
    "@vue/typescript"
  ],
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "warn",
      {
        "argsIgnorePattern": "^_"
      },
      {
        "argsIgnorePattern": "^__"
      }
    ],
    "no-unused-expressions": "off",
    "no-prototype-builtins": "off"
  }
}