shamefully-hoist=true
node-linker=hoisted
registry=https://registry.npmjs.org/
@jsr:registry=https://npm.jsr.io/
#TOKEN_PLACEHOLDER
@venipa:registry=https://npm.pkg.github.com
@venipa/*:registry=https://npm.pkg.github.com