@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --color-muted: #65686a;
  --color-primary: #fff;
}
@layer base {

  html,
  body,
  #app {

    @apply text-gray-100 bg-gray-900 h-full;
  }

  html.translucent {

    &,
    body {
      @apply bg-transparent;
    }
  }
}

.drag,
[draggable] {
  -webkit-app-region: drag;
}

button,
a,
div,
span,
*[tab-index] {
  outline: none;
}

.control-button {
  &.control-button-danger {
    &:hover {
      @apply bg-red-600;
    }
  }

  @apply h-7 w-7 rounded-lg flex items-center justify-center text-gray-50 transition duration-100;

  &:hover,
  &:active,
  &:focus {
    @apply bg-gray-100/10;
  }

  &:active {
    @apply transform-gpu scale-95 bg-gray-100/15;
  }

  &:disabled,
  &.disabled {
    @apply scale-100 opacity-60 hover:bg-transparent cursor-not-allowed;
  }

  svg {
    @apply w-4 h-4;
  }
}

/* basic scrollbar style */
:root {
  --ytmd-scrollbar-size: 12px;
  --ytmd-scrollbar-border-radius: 8px;
  --ytmd-scrollbar-border-width: 4px;
  --ytmd-scrollbar-thumb-size: 32px;
  --ytmd-scrollbar-thumb-color: var(--color-muted);
  --ytmd-scrollbar-thumb-active-color: var(--color-primary);
}
::-webkit-scrollbar {
  width: var(--ytmd-scrollbar-size);
  height: var(--ytmd-scrollbar-size);
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--ytmd-scrollbar-border-radius);
  background: var(--ytmd-scrollbar-thumb-color);
  min-height: var(--ytmd-scrollbar-thumb-size);
  min-width: var(--ytmd-scrollbar-thumb-size);
  border: var(--ytmd-scrollbar-border-width) solid transparent!important;
  background-clip: padding-box !important;
  transition: background 0.2s;
}
::-webkit-scrollbar-thumb:hover, ::-webkit-scrollbar-thumb:active {
  border: var(--ytmd-scrollbar-border-width) solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--ytmd-scrollbar-thumb-active-color);
}

::-webkit-scrollbar-thumb:active {
  background: var(--ytmd-scrollbar-thumb-active-color);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-track {
  background: transparent;
}

@media (pointer: coarse) {
  ::-webkit-scrollbar-thumb {
    background: var(--ytmd-scrollbar-thumb-color);
  }
}
